<%- include('../partials/layout') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h2>
      <%= title %>
    </h2>
    <hr>
    <img style="display: block; margin-left: auto; margin-right: auto; width: 80%;" src="/images/eslibre.png" alt="logo">
  </div>
</div>
</div>

<%- include('../partials/footer') %>
