<%- include('../partials/layout') %>

<div class="text-center">
  <h2>Propuesta de actividad</h2>
  <hr>
</div>

<div style="width: 60% !important; margin: auto;">
  <form id="create-talks" role="form" action="/admin/others/create" method="post">
    <div class="form-group">
      <span class="form-text text-muted" style="text-align: center !important;">Los campos marcados como (*) son obligatorios. Recuerda que para cualquier duda puedes escribirnos a <a href="mailto:propuestas@eslib.re">propuestas@eslib.re</a>.</span>
    </div>
    <div class="form-group">
      <label for="title">Título (*):</label>
      <div id="title-counter-tag" class="tag is-danger"><span id="title-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div>
      <input id="title" name="title" type="text" maxlength="150" onkeyup="counterDisplay(this, 'title', true)" required="required" class="form-control">
    </div>
    <div class="form-group">
      <label for="abstract">Resumen (*):</label>
      <div id="abstract-counter-tag" class="tag is-danger"><span id="abstract-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;500</div>
      <textarea name="abstract" cols="40" rows="5" maxlength="500" style="resize:none; overflow-y: scroll;" aria-describedby="abstract-help-block" onkeyup="counterDisplay(this, 'abstract', true)" required="required" class="form-control"></textarea>
      <span id="abstract-help-block" class="form-text text-muted">Pequeña introducción y motivación de la actividad.</span>
    </div>
    <div class="form-group">
      <label for="type">Tipo de actividad (*):</label>
      <div id="type-counter-tag" class="tag is-danger"><span id="type-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;500</div>
      <textarea name="type" cols="40" rows="5" maxlength="500" style="resize:none; overflow-y: scroll;" aria-describedby="type-help-block" onkeyup="counterDisplay(this, 'type', true)" required="required" class="form-control"></textarea>
      <span id="type-help-block" class="form-text text-muted">Describe de qué tipo de actividad se trata.</span>
    </div>
    <div class="form-group">
      <label for="description">Descripción (*):</label>
      <div id="description-counter-tag" class="tag is-danger"><span id="description-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;5000</div>
      <textarea name="description" cols="40" rows="5" maxlength="5000" style="resize:none; overflow-y: scroll;" aria-describedby="description-help-block" onkeyup="counterDisplay(this, 'description', true)" required="required"
        class="form-control"></textarea>
      <span id="description-help-block" class="form-text text-muted">Explicación de la temática de la actividad y la motivación para realizarlo.</span>
    </div>
    <div class="form-group">
      <label for="project">Web del proyecto:</label>
      <div id="project-counter-tag" class="tag is-success"><span id="project-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div>
      <input name="project" type="url" maxlength="150" aria-describedby="project-help-block" onkeyup="counterDisplay(this, 'project', false)" class="form-control">
      <span id="project-help-block" class="form-text text-muted">Página con información sobre el proyecto del que se hablará durante la actividad.</span>
    </div>
    <div class="form-group">
      <label for="target">Público objetivo (*):</label>
      <div id="target-counter-tag" class="tag is-danger"><span id="target-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;500</div>
      <textarea name="target" cols="40" rows="5" maxlength="500" style="resize:none; overflow-y: scroll;" aria-describedby="target-help-block" onkeyup="counterDisplay(this, 'target', true)" required="required" class="form-control"></textarea>
      <span id="target-help-block" class="form-text text-muted">¿A quién va dirigida?</span>
    </div>
    <div class="form-group">
      <label for="speakers">Ponente/s (*):</label>
      <div id="speakers-counter-tag" class="tag is-danger"><span id="speakers-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;500</div>
      <textarea name="speakers" cols="40" rows="5" maxlength="500" style="resize:none; overflow-y: scroll;" aria-describedby="speakers-help-block" onkeyup="counterDisplay(this, 'speakers', true)" required="required" class="form-control"></textarea>
      <span id="speakers-help-block" class="form-text text-muted">Necesitaríamos algo de información general sobre la persona o personas que van a realizar la actividad: intereses personales, experiencia en la materia, otras actividades realizadas...</span>
    </div>
    <div class="form-group">
      <label for="name">Nombre (*):</label>
      <div id="name-counter-tag" class="tag is-danger"><span id="name-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div>
      <input name="name" type="text" maxlength="150" onkeyup="counterDisplay(this, 'name', true)" required="required" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Email (*):</label>
      <div id="email-counter-tag" class="tag is-danger"><span id="email-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div>
      <input name="email" type="text" maxlength="150" onkeyup="counterDisplay(this, 'email', true)" required="required" class="form-control">
    </div>
    <div class="form-group">
      <label for="web">Web personal:</label>
      <div id="web-counter-tag" class="tag is-success"><span id="web-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div>
      <input name="web" type="url" maxlength="150" aria-describedby="web-help-block" onkeyup="counterDisplay(this, 'web', false)" class="form-control">
      <span id="web-help-block" class="form-text text-muted">Por si tienes una web personal que quieras compartir.</span>
    </div>
    <div class="form-group">
      <label for="mastodon">Mastodon (u otras redes sociales libres):</label>
      <div id="mastodon-counter-tag" class="tag is-success"><span id="mastodon-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div>
      <input name="mastodon" type="url" maxlength="150" aria-describedby="mastodon-help-block" onkeyup="counterDisplay(this, 'mastodon', false)" class="form-control">
      <span id="mastodon-help-block" class="form-text text-muted">Cualquier perfil en una red social libre es válido, pero recuerda introducir la URL completa para conocer también la instancia en la que te encuentras.</span>
    </div>
    <div class="form-group">
      <label for="twitter">Twitter:</label>
      <div id="twitter-counter-tag" class="tag is-success"><span id="twitter-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div>
      <input name="twitter" type="text" maxlength="16" pattern="^@[A-Za-z0-9_]{1,15}$" onkeyup="counterDisplay(this, 'twitter', false)" class="form-control">
      <span id="twitter-help-block" class="form-text text-muted">Si quieres que te mencionemos en Twitter al crear la propuesta, pon tu nombre de usuario incluyendo solo el @USER.</span>
    </div>
    <div class="form-group">
      <label for="gitlab">GitLab:</label>
      <div id="gitlab-counter-tag" class="tag is-success"><span id="gitlab-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div>
      <input name="gitlab" type="text" maxlength="255" pattern="^@[A-Za-z0-9_-]{2,255}$" aria-describedby="gitlab-help-block" onkeyup="counterDisplay(this, 'gitlab', false)" class="form-control">
      <span id="gitlab-help-block" class="form-text text-muted">Si tienes un perfil en GitLab, pon unicamente el @USER y te mencionaremos al crear la propuesta (en caso contrario no te preocupes, no hay ningún problema porque te avisaremos por correo igualmente).</span>
    </div>
    <div class="form-group">
      <label for="github">Portfolio o GitHub (u otros sitios de código colaborativo):</label>
      <div id="github-counter-tag" class="tag is-success"><span id="github-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;150</div>
      <input name="github" type="url" maxlength="150" aria-describedby="github-help-block" onkeyup="counterDisplay(this, 'github', false)" class="form-control">
      <span id="github-help-block" class="form-text text-muted">Cualquier otro sitio de desarrollo colaborativo donde tuvieras un perfil y quisieras mostrar tus proyectos, o también cualquier web que uses como portfolio.</span>
    </div>
    <div class="form-group">
      <label for="prerequisites_attendees">Prerrequisitos para los asistentes:</label>
      <div id="prerequisites_attendees-counter-tag" class="tag is-success"><span id="prerequisites_attendees-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;500</div>
      <textarea name="prerequisites_attendees" cols="40" rows="5" maxlength="500" style="resize:none; overflow-y: scroll;" aria-describedby="prerequisites_attendees-help-block" onkeyup="counterDisplay(this, 'prerequisites_attendees', false)"
        class="form-control"></textarea>
      <span id="prerequisites_attendees-help-block" class="form-text text-muted">Descripción de conocimientos mínimos recomendados, así como hardware/software del que deberían disponer las personas asistentes a la actividad.</span>
    </div>
    <div class="form-group">
      <label for="prerequisites_organization">Prerrequisitos para la organización:</label>
      <div id="prerequisites_organization-counter-tag" class="tag is-success"><span id="prerequisites_organization-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;500</div>
      <textarea name="prerequisites_organization" cols="40" rows="5" maxlength="500" style="resize:none; overflow-y: scroll;" aria-describedby="prerequisites_organization-help-block" onkeyup="counterDisplay(this, 'prerequisites_organization', false)"
        class="form-control"></textarea>
      <span id="prerequisites_organization-help-block" class="form-text text-muted">Descripción de elementos que sería ideal que la organización pudiera proveer para la correcta realización de la actividad (ejemplo: disposición de máquinas virtuales con
        un determinado software instalado para las personas que asistan a la actividad). La organización no garantiza que se puedan satisfacer las necesidades de las actividades propuestas.</span>
    </div>
    <div class="form-group">
      <label for="comments">Comentarios:</label>
      <div id="comments-counter-tag" class="tag is-success"><span id="comments-counter-display">0</span>&nbsp;&nbsp;/&nbsp;&nbsp;500</div>
      <textarea name="comments" cols="40" rows="5" maxlength="500" style="resize:none; overflow-y: scroll;" aria-describedby="comments-help-block" onkeyup="counterDisplay(this, 'comments', false)" class="form-control"></textarea>
      <span id="comments-help-block" class="form-text text-muted">Cualquier otro comentario relevante para la organización.</span>
    </div>
    <div class="form-group">
      <div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox">
            <input name="privacy_email" type="checkbox" class="custom-control-input">
            <label for="privacy_email" class="custom-control-label">No quiero que mi email de contacto sea publicado con la información de la actividad</label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input name="privacy_social" type="checkbox" class="custom-control-input">
          <label for="privacy_social" class="custom-control-label">No quiero que mis redes sociales sean publicadas con la información de la actividad</label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input name="accept_coc" type="checkbox" required="required" class="custom-control-input">
          <label for="accept_coc" class="custom-control-label">Acepto seguir el código de conducta y solicitar a las personas asistentes su cumplimiento (*)</label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox">
            <input name="accept_attend" type="checkbox" required="required" class="custom-control-input">
            <label for="accept_attend" class="custom-control-label">Al menos una persona de entre las que proponen la actividad estará conectada el día programado para realizarla (*)</label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group text-center">
      <button name="submit" type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>
</div>

</div>

<%- include('../partials/validation') %>
